* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #0f6d28;
    margin: 0;
    padding: 0;
    color: #ffffff;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #094619;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-bottom: 30px;
}


.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}


.logo:hover {
    transform: scale(1.1);
}


h1 {
    font-size: 2.5em;
    margin: 0;
    color: #d4e157;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}


.info {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.info-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #094619;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}


.info-btn:hover {
    background-color: #d4e157;
    color: #083b14;
    transform: translateY(-2px);
}


.info-img {
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.info-img:hover {
    transform: scale(1.02);
}


.info-text {
    font-size: 1.1em;
    margin-top: 15px;
    line-height: 1.5;
    color: #d4e157;
}


.mission {
    background-color: #083b14;
    padding: 30px;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
}


.mission h2 {
    font-size: 2.2em;
    color: #d4e157;
    margin-bottom: 20px;
}


.mission p {
    font-size: 1.2em;
    color: #ffffff;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #094619;
    color: #d4e157;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


footer p {
    margin: 0;
}


@media (max-width: 768px) {
    .info {
        flex-direction: column;
        align-items: center;
    }


    .info-block {
        width: 90%;
        margin-bottom: 20px;
    }


    h1 {
        font-size: 2em;
    }


    .mission h2 {
        font-size: 1.8em;
    }


    .mission p {
        font-size: 1em;
    }
}


.donate-btn {
    padding: 10px 20px;
    margin-left: 20px;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #d4e157; /* Cor de fundo do botão */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s;
}


.donate-btn:hover {
    background-color: #094619; /* Cor ao passar o mouse */
    color: #d4e157; /* Cor do texto ao passar o mouse */
    transform: translateY(-2px);
}


.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaçamento entre os links */
}


.contact-link {
    color: #d4e157; /* Cor do texto dos links */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 1.2em; /* Tamanho da fonte */
    transition: color 0.3s; /* Efeito de transição */
}


.contact-link:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
    text-decoration: underline; /* Sublinha ao passar o mouse */
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #094619; /* Cor do rodapé */
    color: #d4e157;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}