{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONG Parque da Seringueira</title>
    <link rel="stylesheet" href="{% static 'css/csshomepage.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="header-content">
                <img src="{% static 'img/logo.png' %}" alt="Logo ONG Parque da Seringueira" class="logo">
                <h1>ONG Parque da Seringueira</h1>
            </div>
        </header>
       
        <section class="info">
            <div class="info-block">
                <button class="info-btn">O que é?</button>
                <img src="{% static 'img/img-1.jpg' %}" alt="Imagem sobre O que é?" class="info-img">
                <p class="info-text">A ONG Parque da Seringueira é uma organização voltada para o bem-estar social, promovendo iniciativas que impactam positivamente a comunidade local.</p>
            </div>
            <div class="info-block">
                <button class="info-btn">O que faz?</button>
                <img src="{% static 'img/img-2.jpg' %}" alt="Imagem sobre O que faz?" class="info-img">
                <p class="info-text">A ONG realiza projetos em áreas como educação, saúde e meio ambiente, promovendo a integração e a qualidade de vida dos moradores.</p>
            </div>
        </section>


        <section class="mission">
            <h2>Nossa Missão</h2>
            <p>Transformar vidas através de ações sociais que promovam a sustentabilidade e o desenvolvimento da comunidade local.</p>
        </section>


        <footer>
            <p>&copy; 2024 ONG Parque da Seringueira. Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>
