{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ONG Seringueiras</title>
    <link rel="stylesheet" href="{% static 'css/cssOqueONG.css' %}">
</head>
<body>
    <h1>Login</h1>
</body>
</html>

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O que é?</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Início</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>O que é?</h1>
        <div class="description">
            <p>A associação de moradores do Parque da Seringueira é uma organização comunitária que representa os interesses dos moradores de uma determinada área. Ela é responsável por diversas atividades e projetos voltados para o bem-estar da comunidade.</p>
            <p>Aqui estão alguns dos trabalhos que podem ser realizados por uma associação de moradores de bairro:</p>
            <ul>
                <li>Organização de eventos comunitários.</li>
                <li>Melhorias em infraestrutura local.</li>
                <li>Promoção de atividades culturais e recreativas.</li>
                <li>Defesa dos interesses dos moradores perante as autoridades.</li>
            </ul>
        </div>
    </div>
</body>
</html>
